
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>

<h1>通过partial来使用</h1>
@Html.Partial("~/Views/Shared/_PartialPageWidget.cshtml")

<h1>通过RenderPartial来使用</h1>
@{
    Html.RenderPartial("~/Views/Shared/_PartialPageWidget.cshtml");
}

<h1>通过Ation调用</h1>
@{ 
    Html.RenderAction("ShowWidget");
}}