html {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
body {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
div {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
span {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
applet {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
object {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
iframe {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
h1 {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
h2 {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
h3 {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
h4 {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
h5 {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
h6 {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
em {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
p {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
font {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
img {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
small {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
strong {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
center {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
dl {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
dt {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
dd {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
ol {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
ul {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
li {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
form {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
label {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
table {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
th {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
td {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
caption {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
tbody {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
tr {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
th {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
td {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
span {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
i {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
b {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
strong {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
a {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
button {
	font-family: "Microsoft YaHei","SimHei ","YouYuan", Tahoma, Arial, Helvetica, sans-serif;
}
html {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
body {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
div {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
span {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
applet {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
object {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
iframe {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
h1 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
h2 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
h3 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
h4 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
h5 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
h6 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
em {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
p {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
font {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
img {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
small {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
strong {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
center {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
dl {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
dt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
dd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
ol {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
ul {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
li {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
form {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
label {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
table {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
caption {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
tbody {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
tr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
th {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
td {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-weight: normal; vertical-align: middle;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
:focus {
	
}
table {
	border-collapse: collapse; border-spacing: 0;
}
caption {
	text-align: left; font-weight: normal;
}
th {
	text-align: left; font-weight: normal;
}
td {
	text-align: left; font-weight: normal;
}
a {
	color: inherit; text-decoration: none; cursor: pointer;
}
a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
}
button {
	background: none; border: currentColor; border-image: none; vertical-align: middle; cursor: pointer;
}
