#topMenu
{
    width: 100%;
}
.menuTr
{
    background: #0E6BCB url(img/index/top/menuBack.gif);
}
#topMenu li
{
    float: right;
    height: 29px;
    background: #0E6BCB url(img/index/top/menuBack.gif);
}
#topMenu li a
{
    color: White;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}
#topMenu li a:hover
{
    color: Yellow;
}